/*------------- MAIN -------------*/
body {
    background-color: #1c1c1c;
    color: #cccccc;
    justify-content: center;
}

button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 2px 10px;
    height: 21px;
    border: none;
    color: #cccccc;
    background-color: rgb(87, 87, 90);
    transition: background-color 0.100s ease, color 0.100s ease;
}

button:hover {
    background-color: #b58900;
}



/*------------- APP -------------*/
.windowBox {
    background-color: rgba(0,0,0,0.5);
    width: 500px;
    height: 600px;
    border-radius: 4px;
    box-shadow: 0px 6px 19px -4px rgba(0,0,0,0.75);
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
  }

.pictureFrame{
    background-color: rgba(255, 255, 255, 0.02);
    width: 500px;
    height: 480px;
    border-radius: 4px;
    box-shadow: 0px 6px 19px -4px rgba(0,0,0,0.75);
}

.roomText{
    background-color: rgba(255, 255, 255, 0.02);
    width: 500px;
    height: 100px;
    border-radius: 4px;
    box-shadow: 0px 6px 19px -4px rgba(0,0,0,0.75);
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
}

.roomNumber{
  /*background-color: red;  */
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translate(150%, 0%);
}

#appText{
    padding: 15px
}



/*------------- ANIMATIONS -------------*/

#appPicture img {
    animation: fadeInOutPicture 2s ease-in-out forwards;
}

@keyframes fadeInOutPicture {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}